<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            
            <div class="row" *ngIf="authService.userData as user">
                <div class="col-md-12">
                  <div class="media">
                      
                    <!-- <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                      alt="{{user.displayName}}"> -->
                    <div class="media-body">
                        <p><img src="../../../assets/img/2020-07-15.jpg" alt="Admin SLB"></p>
                      <!-- <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1> -->
                      <!-- <p>User ID: <strong>{{user.uid}}</strong></p> -->
                      <p>Email: <strong>{{user.email}}</strong></p>
                      <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Data Siswa</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/edit_soal">Edit Soal</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/nilai_siswa">Nilai Siswa</a>


    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/kontak">
        <mat-icon>import_contacts</mat-icon>
        Tentang Sekolah
    </a>

</mat-nav-list>