
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Edit Akun Siswa</h4>
                        <p class="card-category"> Edit akun siswa yang telah mendaftar di aplikasi</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> 
                                        ID
                                    </th>
                                    <th>
                                        Nama
                                    </th>
                                    <th>
                                        Nama Lengkap
                                    </th>
                                    <th>
                                        Password
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </thead>
                                <tbody *ngFor="let siswamodel of SiswaModel">
                                    <tr>
                                        <th scope="row">{{siswamodel.$key}}</th>
                                        <td>{{siswamodel.nama}}</td>
                                        <td>{{siswamodel.namalengkap}}</td>          
                                        <td>{{siswamodel.pass}}</td>     
                                        <td><button type="button" class="btn btn-warning" routerLink="/edit_siswa/{{siswamodel.$key}}">Update</button></td>
                                        <td><button type="button" class="btn btn-danger" (click)="ondelete(siswamodel)">Delete</button></td>
                                      </tr>
                                </tbody>    
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
