<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formTemplate" >
                          <div class="text-center">
                            <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
                        </div>
                        <div class="form-group">
                            <label>Select file to upload</label>
                            <input type="file" accept="image/x-png,image/gif,image/jpeg*" [(ngModel)]="file" class="form-control" #fileUploader formControlName="url" (change)="showPreview($event)">
                             <div class="text-primary" *ngIf="isSubmitted && formControls.url.errors?.required">THis field is required.</div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Soal" type="text" formControlName="question" [(ngModel)]="question">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Jawaban 1" type="text" formControlName="option1" [(ngModel)]="option1">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Jawaban 2" type="text" formControlName="option2" [(ngModel)]="option2">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Jawaban 3" type="text" formControlName="option3" [(ngModel)]="option3">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Jawaban 4" type="text" formControlName="option4" [(ngModel)]="option4">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Jawaban" type="text" formControlName="answer" [(ngModel)]="answer">
                                </mat-form-field>
                              </div>
                          </div>
                            <button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)= "save(formValue)">Tambah Soal</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>