<div class="col-md-12">
    <div class="card card-profile">
        <div class="card-avatar">
            <a href="javascript:void(0)">
                <img src="../../../assets/img/2020-07-15.jpg" alt="Admin SLB">
            </a>
        </div>
        <div class="card-body">
            <div *ngIf="authService.userData as user">
            <h6 class="card-category text-gray">Admin</h6>
            <h4 class="card-title">Selamat Datang di Dashboard</h4>
            <p class="card-description">
                <!-- User ID: <strong>{{user.uid}}</strong> -->
                Email: <strong>{{user.email}}</strong>
                Email Verified: <strong>{{user.emailVerified}}</strong>
            </p>
            <a class="btn btn-info btn-round" routerLink="/edit_soal">Edit Soal</a>
        </div>
    </div>
</div>
</div>